@font-face{
    font-family: 'qfxk';
    src: url('fonts/AiDianGanFengXingKai-2.ttf') format('truetype')
}

html {
    font-family: 'qfxk';
}
html,
body,
#root,
.swiper {
    height: 100%;
    margin: 0;
}
.swiper-slide {
    overflow: hidden;
}

.bg1 {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: #7a5c5c;
    .poem-header-title a, .poem-footer a{
        color: #7a5c5c;
    }
}

.corner {
    position: absolute;
    top: -25px;
    right: -75px;
    z-index: 100;
    padding: 60px 52px 25px;
    background-color: #FF9A8B;
    transform: rotate(45deg);
    color: #7a5c5c;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.poem-container {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 1rem;
    .poem-date {
        text-align: center;
    }
    .poem-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-top: 20%;
        .poem-header-title {
            font-weight: 600;
            font-size: 30px;
            padding: 10px;
        }
        .poem-header-author {
            display: flex;
            gap: 10px;
        }
    }

    .poem-content {
        .poem-content-line {
            text-align: center;
            line-height: 2rem;
        }
    }

    .poem-footer {
        font-size: 18px;
        margin-top: auto;
        padding: 1rem 0;
        .poem-footer-show {
            text-align: center;
        }
    }
}